.about-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--main-white-bg);
}

.about-me-title{
    width: 240px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 70px;
    font-size: 60%;
    color: var(--dark-text-color);
}

.about-me__image{
    width: 40%;
    height: 90%;
    background-image: url("../assets/images/image.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom center;
}

.about-me__content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid black;

}

.about-me__text{
   width: 80%;
   height: 60%;
   margin: 20px;
   min-width: 320px;
   font-size: 20%;
   text-align: justify;
}

.download-cv{
    width: 200px;
    height: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/icons/cv.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
}
.download-cv__text{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: right;
    font-size: 30%;
}

