@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('./about.css');
@import url('./portfolio.css');
@import url('./contacts.css');

:root{
    --main-bg-gradient: linear-gradient(90deg, rgba(6,0,4,1) 0%, rgba(94,0,67,1) 100%);
    --main-white-bg: rgb(248,246,249);
    --grey-layer: rgba(13,5,5,.45);
    --white-text-color: rgb(255,253,253);
    --dark-text-color: rgb(10,3,5);
    --button-hover-color: rgb(53,3,36);
    --shadow-button: drop-shadow(2px 2px 20px rgba(18,3,11,.2));
}

*{
   font-family: 'Montserrat', sans-serif;
   font-size: 60px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;

}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-image: var(--main-bg-gradient);
    overflow: hidden;
}

.section{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
}

.title-conteiner{
    width: 35%;
    height: 90%; 
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.title-name{
    transform: translateX(10px);
}

.title-profession,
.title-name{
    width: 100%;
    height: 50px;
    font-size: 60%;
    color: var(--white-text-color);
    filter: var(--shadow-button);
}

.title-profession{
    width: 650px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: rotate(-90deg) translate(-25px, 25px);
    transform-origin: left;
}

.title--dark-theme{
    color: var(--dark-text-color);
}

.main-navigation{
    width: 550px;
    height: 500px;
    position: absolute;
    top: calc(50% - 250px);
    left: 85%;
    z-index: 10;
}

.navigation-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

.navigation-item{
    width: 100%;
    height: 50px;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.navigation-circle{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
    transition: 0.5s ease;
    z-index: 5;
}

.navigation-link{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    font-size: 90%;
    text-decoration: none;
    letter-spacing: 1px;
    filter: var(--shadow-button);
    opacity: 0;
    transition: 0.5s ease;
    transform: translateX(100px);
    z-index: 20;
    color: var(--main-white-bg);
}

.navigation-link:hover{
    filter: invert();
}

.circle--light-theme{
    background-color: var(--main-white-bg);
}

.circle--light-theme:hover{
    border: 3px solid var(--main-white-bg);
    background-color: var(--button-hover-color);
    filter: none;
}

.show-link{
    animation: showLinkLT 1s ease-in-out forwards;
    animation-direction: normal;
}

.showLink--dark-theme{
    animation: showLinkDT 1s ease-in-out forwards;
    animation-direction: normal;
}

.hide-link{
    animation: hideLink 1s ease-in-out forwards;
}

.circle--darc-theme{
    background-color: var(--button-hover-color);
}

.circle--darc-theme:hover{
    border: 3px solid var(--button-hover-color);
    background-color: var(--main-white-bg);
    filter: none;
}

@keyframes showLinkLT{
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100%{
        transform: translateX(-350px);
        opacity: 1;
        color: var(--white-text-color);
    }
}

@keyframes showLinkDT{
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100%{
        transform: translateX(-300px);
        opacity: 1;
        color: var(--button-hover-color);
    }
}

@keyframes hideLink{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-300px);
        opacity: 0;
    }
    
}







/*.link--light-theme{
    color: var(--white-text-color);
}

.link--dark-theme{
    color: var(--button-hover-color);
}*/

